.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.lg-col-1{
    width: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.lg-col-2{
    width: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.lg-col-3{
    width: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}


.lg-col-4{
    width: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}


.lg-col-5{
    width: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}


.lg-col-6{
    width: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}


.lg-col-7{
    width: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}


.lg-col-8{
    width: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}


.lg-col-9{
    width: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}


.lg-col-10{
    width: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}


.lg-col-11{
    width: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}


.lg-col-12{
    width: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}


