*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


[class*="col-"]{
    min-height: 40px;
    border: 1px white solid;
    text-align: center;
    color: white;
    line-height: 40px;
    background: rgb(42, 134, 255);
}

[class*="col-"] [class*="col-"]{
    border: 1px solid rgb(42,134,255);
    background: rgb(0, 190, 73);
}

.padding-10{
    padding: 10px; 
}

.margin-b-20{
    margin-bottom: 20px;
}