*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    overflow: hidden
}
.canvas{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: 800px;
    width: 800px;
    background-color: white;
    box-sizing: initial;
    transition: transform 5s linear;
    animation: shake 0.2s linear;
    animation-iteration-count: infinite;
    transition-delay: 1s;
    opacity: 1;
    animation-delay: 2s;
    transform-origin: center;
}

.row{
    height: calc((100% / 12) * 1);
}

.red{
    background-color: red;
}

.dark-red{
    background-color: darkred;
}

.black{
    background-color: black;
}

.canvas:hover{
    animation: flash 0.4s linear;
    animation-iteration-count: infinite;
} 
 

.canvas:active{
    transform: scale(10) translate(-50%,-50%);
    transform-origin: center center;
    animation-play-state: 0%;
} 
 
@keyframes shake {
    0%{
        transform: translate(-50%,-50%) translateX(-10px) rotate(1deg); 
        transform-origin: bottom;
    }
    100%{
        transform: translate(-50%,-50%) translateX(10px) rotate(-1deg);
        transform-origin: bottom;
    }
}

@keyframes flash {
    0%{
        opacity: 1;    }
    100%{
        opacity: 0;
    }
}