*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    overflow: hidden
}
.canvas{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: 800px;
    width: 800px;
    background-color: white;
    box-sizing: initial;
    transition: transform 10s linear;
}

.row{
    height: calc((100% / 12) * 1);
}

.red{
    background-color: red;
}

.dark-red{
    background-color: darkred;
}

.black{
    background-color: black;
}

.canvas:hover{
    transform: translate(-50%,-50%) scale(1000%);
} 
