*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    overflow: hidden
}
.canvas{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: 800px;
    width: 800px;
    background-color: white;
    box-sizing: initial;
    transition: transform 5s linear;
    animation: shake 0.2s linear;
    animation-iteration-count: infinite;
    transition-delay: 1s;
    opacity: 1;
    animation-delay: 2s;
    transform-origin: center;
}

.row{
    height: calc((100% / 12) * 1);
}

.red{
    background-color: red;
}

.dark-red{
    background-color: darkred;
}

.black{
    background-color: black;
}

.canvas:hover{
    animation: flash 0.4s linear;
    animation-iteration-count: 5;
    position: relative;
} 
 
.star{
    background-color: gold;
    position: absolute;
    width: calc(800px / 12);
    height: calc(800px / 12);
    display: none;
}
.star1{
    top: 50%;
    left: 50%;
}

.star2{
    top: 50%;
    left: 50%;
}

.star3{
    top: 50%;
    left: 50%;
}
.canvas:active .star1{
    display: block;
    animation: star1 0.5s linear;
} 
.canvas:active .star2{
    display: block;
    animation: star1 0.5s linear;
} 
.canvas:active .star3{
    display: block;
    animation: star1 0.5s linear;
} 
@keyframes star3 {
    0%{
        transform: scale(0);
        top: 50%;
        left: 50%;
    }
    50%{
        transform: scale(1.5);
        top: 40%;
        left: 60%;
    }
    100%{
        transform: scale(0);
        top: 35%;
        left: 70%;
    }
}

@keyframes star2 {
    0%{
        transform: scale(0);
        top: 50%;
        left: 50%;
    }
    50%{
        transform: scale(1.5);
        top: 40%;
        left: 60%;
    }
    100%{
        transform: scale(0);
        top: 35%;
        left: 70%;
    }
}


@keyframes star1 {
    0%{
        transform: scale(0);
        top: 50%;
        left: 50%;
    }
    50%{
        transform: scale(1.5);
        top: 40%;
        left: 60%;
    }
    100%{
        transform: scale(0);
        top: 35%;
        left: 70%;
    }
}

@keyframes shake {
    0%{
        transform: translate(-50%,-50%) translateX(-10px) rotate(1deg); 
        transform-origin: 400px 800px;
    }
    100%{
        transform: translate(-50%,-50%) translateX(10px) rotate(-1deg);
        transform-origin: 400px 800px;
    }
}

@keyframes flash {
    0%{
        opacity: 1;    }
    100%{
        opacity: 0;
    }
}